


h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 150% */
}
h2 {
    color: #111;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 135.714% */
}
h3 {
    color: #4A4FF2;
    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.423px;
}
.text {
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.5;
}