.container_footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.container_footer ul {
    list-style: none;
    display: inline;
    padding: 5px;
}
.nav1 {
    display: flex;
    max-width: 170px;
    width: 100%;
    padding: 30px;
}