.container_head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    width: 100%;
}

.container_head ul {
    list-style: none;
    display: inline;
    padding: 5px;
}
.navBar {
    display: flex;
    align-items: center;
}
.navBar a {
    text-decoration: none;
}