.container_main_1 {
    display: flex;
}
.main_title {
    max-width: 635px;
    width: 100%;
}
.container_main_grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    grid-gap: 20px;
    max-width: 1110px;
    width: 100%;
}
.grid_element {
    overflow: hidden;
    position: relative;
}
.first {
    grid-row: 1/8;
    grid-column: 1/4;
}
.second {
    grid-row: 1/7;
    grid-column: 4/7;
}
.third {
    grid-row: 1/11;
    grid-column: 7/10;
}
.fourth {
    grid-row: 8/16;
    grid-column: 1/4;
}
.fifth {
    grid-row: 7/14;
    grid-column: 4/7;
}
.sixth {
    grid-row: 11/18;
    grid-column: 7/10;
}
.seventh {
    grid-row: 16/24;
    grid-column: 1/4;
}
.eight {
    grid-row: 14/23;
    grid-column: 4/7;
}
.ninth {
    grid-row: 18/27;
    grid-column: 7/10;
}
.tenth {
    grid-row: 24/33;
    grid-column: 1/4;
}
.eleventh {
    grid-row: 23/33;
    grid-column: 4/7;
}
.twelwth {
    grid-row: 27/33;
    grid-column: 7/10;
}

/* Container below pictures */
.container_lovework {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 91px;
}
.container_lovework li {
    list-style: none;
    color: #111;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
}
.hardwork {
    grid-column: 1/2;
    grid-row: 1/2;
    color: #111;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 135.714% */
}
.nav2 {
    grid-column: 2/3;
}
.nav3 {
    grid-column: 3/4;
}