.container_main_1 {
    display: flex;
}
.main_title {
    max-width: 635px;
    width: 100%;
}
.container_main_grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    grid-gap: 20px;
    max-width: 1110px;
    width: 100%;
}
.grid_element {
    overflow: hidden;
    position: relative;
}
.first {
    grid-row: 1/8;
    grid-column: 1/4;
}
.second {
    grid-row: 1/7;
    grid-column: 4/7;
}
.third {
    grid-row: 1/11;
    grid-column: 7/10;
}
.fourth {
    grid-row: 8/16;
    grid-column: 1/4;
}
.fifth {
    grid-row: 7/14;
    grid-column: 4/7;
}
.sixth {
    grid-row: 11/18;
    grid-column: 7/10;
}